/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    font-family: cursive;
       height: 100vh;
       width: 100vw;
    background-image:  url('images/hero-landscaped1.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    background-position: center;
}



.container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    
     
}
.container img {
    width: 20vh;
      transition: transform 0.3s;
}
.hover-image:hover{
    transform: scale(1.3);  /* zoom effect */
  filter: brightness(1.2); /* brighten */

  
}
.hover-text {
    margin-top: 10px;
  opacity: 0;                /* hidden by default */
  transition: opacity 0.3s;  
  font-size: 80px;
  color: #333;
  padding: 70px;
}
.wrapper:hover .hover-text {
    opacity: 1;
}

#guide-img {
    width: 700px;
    border-radius: 20px;
}
.title {
    padding-top: 200px;
    color: #FBE1B2;
    text-shadow: 0 0 5px black;
    margin:0;
    text-align: center;
    font-size: 1.3vw;
    max-width: 2104px;
    
}
.options {
    font-style: italic;
    font-size: 1.5vw;
    color: #2A2E38;
    text-shadow: 0 0 5px white;
    padding: 300px 0px 0px 400px;
    width: 30vh;
    align-content: center;
    }
#subtitle {
    padding-left: 0px;
    margin-left: -200px;
}
.guide {
     font-style: italic;
    font-size: 1vw;
    color: gray;
    text-shadow: 0 0 5px white;
    align-content: end;
    max-width: 800px;
    padding-right: 500px;
}